*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 2em;
    color: #09b2af;
    text-shadow: 1px 2px 5px #ff4c8b;
    font-family: Megrim;
    padding-bottom: 0rem;
    border-bottom: double;
    box-shadow: 0px 17px 19px -17px #00bcd4;
    margin-bottom: 1rem;
}
.options{
    display:flex;
    font-family: Megrim;

}
#container{
    margin-bottom: 8rem;
}
.box{
    background-color: #3200219c;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 1px #ad0068;
    height: 2.2rem;
    overflow: hidden;
    margin-bottom: 7rem;
}
#instructionsPong{
    display: none;
    color: #09b2af;
    width: 26rem;
    box-shadow: 0px -22px 5px -21px #00eef7e8;
}
#StartPong{
    color: #ffffff;
    text-shadow: 3px 3px 3px #186fcf;
    font-family: Megrim;
    width: 4rem;
    height: 2rem;
}
#instructionsSnake{
    display: none;
    color: #09b2af;
    width: 26rem;
    box-shadow: 0px -22px 5px -21px #00eef7e8;
}
#StartSnake{
    color: #ffffff;
    text-shadow: 3px 3px 3px #186fcf;
    font-family: Megrim;
    width: 4rem;
    height: 2rem;
}
.credits{
    display: none;
    width: 13rem;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 900;
    margin-top: 1rem;
    text-shadow: 0px 0px 3px white;
}
#credits{
    margin-bottom: 4rem;
}
button,a{
    background-color: #00cfc5d4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    width: 4rem;
    height: 1rem;
    box-shadow: 0px 0px 10px 3px #00eef7e8;
    margin: 0.6rem;
    outline: none;
    font-family: Megrim;
    font-weight:bolder;
}
button:hover,a:hover{
    background-color: #ff00ead4;
    box-shadow: 0px 0px 10px 3px #ff018ce8;
    outline: none;
}

#jogo{
    width: 500px;
    height: 200px;
    background-color: #25ddffde;
    box-shadow: 0px 0px 9px 10px #24c8eb;
    border-radius:13px;
    display:none;

}
#myCanvas, #snakeCanvas{
    background: #1dffffb0;
    box-shadow: -4px 0px 8px 11px #09bdc97a;
    border-radius: 13px;
    display:none;
}

p{
    text-align: center;
    color: white;
    font-family: Megrim;
    text-shadow: 1px 0px 4px white;
    font-weight: 600;
    margin-top: 1rem;
}
#saidaPong, #saidaSnake{
    display: none;
    margin-right: 20rem;
}
#StartPong, #StartSnake{
    display: none;
}
.periquito{
    width: 100%;
}
#periquitop{
    background-color: transparent;
    box-shadow: 0px 0px 0px;
    width: 6rem;
    height: 7rem;
    position: absolute;
    margin-left: 33rem;
    margin-bottom: 12rem;
}
.comentario{
    position: absolute;
    margin-left: 47rem;
    width: 13rem;
    height: auto;
    margin-bottom: 23rem;
    background: #0ab4b09c;
    box-shadow: 0px 0px 8px 2px #4eb5c1;
    color: #fff7e4;
    text-shadow: 0px 1px 5px #a5a5a5ad;
    font-family: monospace;
    display: none;
    border-radius: 7px;
    padding: 7px;
    font-weight: 100;
}
#audio{
    display: flex;
    position: absolute;
    background: #09000cad;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13%;
    margin-right: 73%;
    width: 10%;
    height: 32%;
    box-shadow: 0px 0px 12px 6px #360229;
}